.title {
    color: #eee;
}
img {
    width: 300px;
    height: 200px;
}
.bj-img {
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 1px solid #ccc;
    background-image: url('./assets/img/bj.jpg');
    background-size: cover;
}
